click==8.1.7
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
gff2bed==1.0.3
iniconfig==2.0.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
networkx==3.2.1
numpy==1.26.3
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
Pygments==2.17.2
pyparsing==3.1.1
pytest==8.0.0
python-dateutil==2.8.2
rich==13.7.1
setuptools==68.2.2
six==1.16.0
sqlitedict==2.1.0
wheel==0.41.2
pyahocorasick==2.1.0